// load the base configuration
//exec config.cfg
// Setup custom controller
exec joystick.cfg

// run a user script file if present
exec autoexec.cfg

//
// stuff command line statements
//
stuffcmds

hostname "Half-Life 2 Sandbox: Ressurected"

mp_forcerespawn 0
